manifest {
   mainScript = 'main.nf'
}

params {
   reads = '/data/dros/reads/*_{1,2}.f*q.gz'
   reference_genome = '/data/dros/refdata/Drosophila_melanogaster.BDGP6.46.dna.toplevel.fa'
   reference_cdna = '/data/dros/refdata/Drosophila_melanogaster.BDGP6.46.cdna.all.fa'
   reference_annotation = '/data/dros/refdata/Drosophila_melanogaster.BDGP6.46.110.gtf'
   reference_annotation_ensembl = '/data/dros/refdata/Drosophila_melanogaster.BDGP6.46.110.gtf'
   outdir = '/data/results/dros'
   threads = 1
   baseDir = '/data/projects/t-aretz/nextflow_RS2_star/bin'
   split = 4
   suffix_length = 3
}

process {
   executor = 'k8s'
   scratch = true
   withName:CHECK_STRANDNESS {
      container = 'ninedem/check_strandedness:latest'
   }
   withLabel:fastqc {
      container = 'biocontainers/fastqc:v0.11.9_cv7'
   }
   withLabel:fastp {
      container = 'biocontainers/fastp:v0.20.1_cv1'
   }
   withLabel:star {
      memory = '8.5 GB'
      container = 'nfcore/rnaseq:1.4.2'
   }
   withLabel:samtools {
      container = 'biocontainers/samtools:v1.7.0_cv4'
   }
   withLabel:cufflinks {
      container = 'pgcbioinfo/cufflinks:2.2.1'
   }
}

docker {
   enabled = true
}

process.pod.nodeSelector = 'usedby=tristanaretz'
k8s {
   pod.nodeSelector = 'usedby=tristanaretz'
   scheduler.nodeSelector = 'usedby=tristanaretz'   
   debug {
      yaml = true
   }
   fetchNodeName = true
   namespace = 'tristanaretz'
   context = 'tristanaretz'
   runAsUser = 0
}

trace {
   enabled = true
   file = '_trace_RS1_C3_D1_star_droso'
   fields = 'task_id, hash, native_id, process, tag, name, status, exit, module, container, cpus, time, disk, memory, attempt, submit, start, complete, duration, realtime, queue, %cpu, %mem, rss, vmem, peak_rss, peak_vmem, rchar, wchar, syscr, syscw, read_bytes, write_bytes, vol_ctxt, inv_ctxt, env, workdir, script, scratch, error_action'
}

report {
   enabled = true
   file = '_report_RS1_C3_D1_star_droso.html'
}

timeline {
   enabled = true
   file = '_timeline_RS1_C3_D1_star_droso'
}

dag {
   enabled = true
   file = '_dag_RS1_C3_D1_star_droso'
}
