manifest {
   mainScript = 'main.nf'
}

params {
   reads = '/Users/tristanaretz/Desktop/ReinertLab_Job/HoneyBee/ApisMellifera/genome/SRR21138545.fastq.gz'   
   reference_genome = '/Users/tristanaretz/Desktop/ReinertLab_Job/HoneyBee/ApisMellifera/refdata/Apis_mellifera.Amel_HAv3.1.dna.toplevel.fa'   
   reference_annotation = '/Users/tristanaretz/Desktop/ReinertLab_Job/HoneyBee/ApisMellifera/refdata/Apis_mellifera.Amel_HAv3.1.56.gff3'
   reference_annotation_ensembl = '/Users/tristanaretz/Desktop/ReinertLab_Job/HoneyBee/ApisMellifera/refdata/Apis_mellifera.Amel_HAv3.1.56.ensembl.gff3'
   reference_cdna = '/Users/tristanaretz/Desktop/ReinertLab_Job/HoneyBee/ApisMellifera/refdata/Apis_mellifera.Amel_HAv3.1.cdna.all.fa'
   reference_cdna_ensembl = '/Users/tristanaretz/Desktop/ReinertLab_Job/HoneyBee/ApisMellifera/refdata/Apis_mellifera.Amel_HAv3.1.ensembl.56ff3'
   outdir = '../results'
   threads = 1
   baseDir = './bin'
   split = 4
   suffix_length = 3
}

trace {
   enabled = false
   file = '_trace_RS1_D1_star_droso'
   fields = 'task_id, hash, native_id, process, tag, name, status, exit, module, container, cpus, time, disk, memory, attempt, submit, start, complete, duration, realtime, queue, %cpu, %mem, rss, vmem, peak_rss, peak_vmem, rchar, wchar, syscr, syscw, read_bytes, write_bytes, vol_ctxt, inv_ctxt, env, workdir, script, scratch, error_action' 
}

report {
   enabled = false
   file = '_report_RS1_D1_star_droso.html'
}

timeline {
   enabled = false
   file = '_timeline_RS1_D1_star_droso'
}

dag {
   enabled = false
   file = '_dag_RS1_D1_star_droso.html'
}

