manifest {
   mainScript = 'main.nf'
}

params {
   reads = '/Users/tristanaretz/Desktop/ReinertLab_Job/HoneyBee/ApisMellifera/genome/SRR21138545.fastq.gz'   
   reference_genome = '/Users/tristanaretz/Desktop/ReinertLab_Job/HoneyBee/ApisMellifera/refdata/Apis_mellifera.Amel_HAv3.1.dna.toplevel.fa'   
   reference_annotation = '/Users/tristanaretz/Desktop/ReinertLab_Job/HoneyBee/ApisMellifera/refdata/Apis_mellifera.Amel_HAv3.1.56.gff3'
   reference_annotation_ensembl = '/Users/tristanaretz/Desktop/ReinertLab_Job/HoneyBee/ApisMellifera/refdata/Apis_mellifera.Amel_HAv3.1.56.ensembl.gff3'
   reference_cdna = '/Users/tristanaretz/Desktop/ReinertLab_Job/HoneyBee/ApisMellifera/refdata/Apis_mellifera.Amel_HAv3.1.cdna.all.fa'
   reference_cdna_ensembl = '/Users/tristanaretz/Desktop/ReinertLab_Job/HoneyBee/ApisMellifera/refdata/Apis_mellifera.Amel_HAv3.1.ensembl.56ff3'
   outdir = '../results'
   threads = 1
   baseDir = './bin'
   split = 4
   suffix_length = 3
}

process {
   executor = 'k8s'
   scratch = true
   withName:CHECK_STRANDNESS {
      container = 'ninedem/check_strandedness:latest'
   }
   withLabel:fastqc {
      container = 'biocontainers/fastqc:v0.11.9_cv7'
   }
   withLabel:fastp {
      container = 'biocontainers/fastp:v0.20.1_cv1'
   }
   withLabel:star {
      memory = '8.5 GB'
      container = 'nfcore/rnaseq:1.4.2'
   }
   withLabel:samtools {
      container = 'biocontainers/samtools:v1.7.0_cv4'
   }
   withLabel:cufflinks {
      container = 'pgcbioinfo/cufflinks:2.2.1'
   }
}

docker {
   enabled = true
}

process.pod.nodeSelector = 'usedby=tristanaretz'
k8s {
   pod.nodeSelector = 'usedby=tristanaretz'
   scheduler.nodeSelector = 'usedby=tristanaretz'   
   debug {
      yaml = true
   }
   fetchNodeName = true
   namespace = 'tristanaretz'
   context = 'tristanaretz'
   runAsUser = 0
   storageClaimName = 'nextflow-pod'
   storageMountPath = '/data'
}

trace {
   enabled = false
   file = '_trace_RS1_C3_D1_star_droso'
   fields = 'task_id, hash, native_id, process, tag, name, status, exit, module, container, cpus, time, disk, memory, attempt, submit, start, complete, duration, realtime, queue, %cpu, %mem, rss, vmem, peak_rss, peak_vmem, rchar, wchar, syscr, syscw, read_bytes, write_bytes, vol_ctxt, inv_ctxt, env, workdir, script, scratch, error_action'
}

report {
   enabled = false
   file = '_report_RS1_C3_D1_star_droso.html'
}

timeline {
   enabled = false
   file = '_timeline_RS1_C3_D1_star_droso'
}

dag {
   enabled = false
   file = '_dag_RS1_C3_D1_star_droso'
}
